# Created by venv; see https://docs.python.org/3/library/venv.html

# Ambiente virtual do Python
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Banco de dados SQLite
*.db
site_colaborativo.db

# Pasta de cache do Flask
cache/

# Configurações de IDE
.vscode/
.idea/